.row {
  display: flex !important;
}

.slt-buttons {
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-left: 3vh;
}

.slt-buttons:last-of-type {
  margin-bottom: 5vh;
}

.arrow-left,
.arrow-right {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.arrow-left {
  transform: rotate(180deg);
}

h4 {
  text-align: left;
}

.list-events {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}

.events div:first-of-type {
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.events div:last-of-type {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

.events .event-day {
  margin-right: 20px;
  font-size: 2em;
}

.events .event-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.events .event-intro {
  padding: 0;
  font-size: .9em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}