#course{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#button-group{
    text-align: center;
}
#button-group{
    margin-top: 2vh;
    margin-left: 5vh;
}
#button-group button + button{
    margin-left: 2vh;
}
.users{
    text-align: left;
}
.users h3{
    text-align: center;
}