.course-info{
    list-style: none;
}
.course-info li {
    display: flex;
}
.course-info li p{
    margin-left: 10vh;
}
.course{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid;
}

.course-buttons{
    margin-left: 10vw;
    margin-top: 3vh;
}

.course-buttons button{
    height: 30px;
    margin-left: 2vh;
}
