.title-midia {
    text-align: center;
    font: 500 32px 'Barlow Semi Condensed', sans-serif;
    background-color: #E7C032;
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    padding: 10px;
}

.midia-container{
    width: 100%;
}

.midia-div {
    background-color: white;
    width: 100%;
    padding: 50px;
}

.gallery .videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

.gallery-photo{
    width: 100%;
    height: 350px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
